# Railway Backend
VITE_API_URL=https://talentflow-backend-production.up.railway.app/api

# Cloudflare R2
VITE_R2_BUCKET_NAME=talentflow-files
VITE_R2_ENDPOINT_URL=https://pub-87e7494e4245f7459697938e56014557.r2.dev

# App
VITE_APP_NAME=TalentFlow
VITE_APP_VERSION=1.0.0
